@font-face {
    font-family: 'ITC Lubalin Graph Std';
    src: url('LubalinGraphStd-Demi.woff2') format('woff2'),
        url('LubalinGraphStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Lubalin Graph Std';
    src: url('LubalinGraphStd-Book.woff2') format('woff2'),
        url('LubalinGraphStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Lubalin Graph';
    src: url('LubalinGraphITCbyBT-XtraLight.woff2') format('woff2'),
        url('LubalinGraphITCbyBT-XtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

